# 001~010

In [12]:
print('Hello World')
print("Mary's cosmetics")
print('신씨가 소리질렀다. "도둑이야".')
print('"C:\Windows"')
# \t: 탭간격 띄우기, \n: 행 띄우기
# 오늘은 일요일
print('naver;kakao;sk;samsung')  # --> print('naver', 'kakao', 'sk', 'samsung', sep=';') // sep 인자: sep=' ' -출력되는 값들 사이에 한 칸의 공백대신 sep 인자 출력
print('naver', 'kakao', 'sk', 'samsung', sep='/')
print("first", end=' '); print("second")
print(5/3); print(5//3); print(5%3)

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
"C:\Windows"
naver;kakao;sk;samsung
naver/kakao/sk/samsung
first second
1.6666666666666667
1
2

# 011~020

In [39]:
#11 
삼성전자 = 50000; print(삼성전자 * 10)   # --변수 ≠ 문자열
#12
시가총액 = '298조'; 현재가 = '50000원'; PER = 15.79
#13
s = 'hello'
t = 'python'
print(s+'!',t)
#14
8
#15
a = '132'
type(a)              # -- str
print(type(a))       # -- <class 'str'>
#16
num_str = '720'
int(num_str)
#17
num = 100
str(num)
#18
a = "15.79"
b = float(a)
print(b)
#19
year = "2020"
year_int = int(year)
print(year_int - 1, year_int - 2, year_int - 3)
#20
a = 48584 * 36
print(a)

500000
hello! python
<class 'str'>
15.79
2019 2018 2017
1749024

# 021~030

In [23]:
#21: 문자열 인덱싱
letters = 'python'
#letters[0][2]            # --2D list (밑 참고)
print(letters[0], end=' '); print(letters[2])

# 참고: 2D Array 
# letters = [1, 2, [3, 4, 5]]
# letters[2][0]     #letters의 3번째 item의 1번째 item: 3

# 파이썬 문자열에서 <한 글자>를 가져오는 것을 인덱싱이라고 부릅니다. 파이썬 인덱싱은 0부터 시작합니다.

#22: 문자열 슬라이싱
license_plate = "42가 2210"
print(license_plate[4:])

# 문자열에서 <여러 글자>를 가져오는 것을 슬라이싱이라고 부릅니다.

#23:문자열 인덱싱 2
string = "홀짝홀짝홀짝"
print(string[::2])
# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

#24: 문자열 슬라이싱 2
string = "PYTHON"
print(string[::-1])

#25: 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

p t
2210
홀홀홀
NOHTYP
010 1111 2222

In [ ]:
license