<a href="https://colab.research.google.com/github/BabyUnicorn90/PYTHON_Practice300/blob/master/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 001~010

In [ ]:
print('Hello World')
print("Mary's cosmetics")
print('신씨가 소리질렀다. "도둑이야".')
print('"C:\Windows"')
# \t: 탭간격 띄우기, \n: 행 띄우기
# 오늘은 일요일
print('naver;kakao;sk;samsung')  # --> print('naver', 'kakao', 'sk', 'samsung', sep=';') // sep 인자: sep=' ' -출력되는 값들 사이에 한 칸의 공백대신 sep 인자 출력
print('naver', 'kakao', 'sk', 'samsung', sep='/')
print("first", end=' '); print("second")
print(5/3); print(5//3); print(5%3)

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
"C:\Windows"
naver;kakao;sk;samsung
naver/kakao/sk/samsung
first second
1.6666666666666667
1
2

# 011~020

In [ ]:
#11 
삼성전자 = 50000; print(삼성전자 * 10)   # --변수 ≠ 문자열
#12
시가총액 = '298조'; 현재가 = '50000원'; PER = 15.79
#13
s = 'hello'
t = 'python'
print(s+'!',t)
#14
8
#15
a = '132'
type(a)              # -- str
print(type(a))       # -- <class 'str'>
#16
num_str = '720'
int(num_str)
#17
num = 100
str(num)
#18
a = "15.79"
b = float(a)
print(b)
#19
year = "2020"
year_int = int(year)
print(year_int - 1, year_int - 2, year_int - 3)
#20
a = 48584 * 36
print(a)

500000
hello! python
<class 'str'>
15.79
2019 2018 2017
1749024

# 021~030

In [ ]:
#21: 문자열 인덱싱
letters = 'python'
#letters[0][2]            # --2D list (밑 참고)
print(letters[0], end=' '); print(letters[2])

# 참고: 2D Array 
# letters = [1, 2, [3, 4, 5]]
# letters[2][0]     #letters의 3번째 item의 1번째 item: 3

# 파이썬 문자열에서 <한 글자>를 가져오는 것을 인덱싱이라고 부릅니다. 파이썬 인덱싱은 0부터 시작합니다.

#22: 문자열 슬라이싱
license_plate = "42가 2210"
print(license_plate[4:])

# 문자열에서 <여러 글자>를 가져오는 것을 슬라이싱이라고 부릅니다.

#23:문자열 인덱싱 2
string = "홀짝홀짝홀짝"
print(string[::2])
# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

#24: 문자열 슬라이싱 2
string = "PYTHON"
print(string[::-1])

#25: 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

p t
2210
홀홀홀
NOHTYP
010 1111 2222

# 026. 문자열 다루기 
25번 문제의 전화번호를 모두 붙여 출력

In [ ]:
phone_number = "010-111-2222"
print(phone_number.replace('-',''))

0101112222

# 027. 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인 출력

In [ ]:
url = "http://sharebook.kr"
print(url[-2:])

# think: 
print('\n')
url_split = url.split('.')
print(url_split[-1])

kr


kr

※ .split()

*   괄호 안의 특정 값을 구분자로 문자열을 나눔.
*   괄호 안이 비었을 경우 공백을 기준으로 문자열 나눔. 
*   나눈 문자열은 리스트로.

# 028. 문자열은 immutable
아래 코드의 실행 결과 예상

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

# 예상 답: 'Python'  (X)
# think: 문자열은 immutable!!!!!

TypeError: ignored

# 029. replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경

In [ ]:
string = 'abcdfe2a354a32a'
# print(string.upper('a'))

# think:
print(string.replace('a', 'A'))

# think more: 
# 1. 첫글자만 대문자로 변환하기: .capitalize()
# 2. 모든 문자 대문자로 변환하기: .upper()

Abcdfe2A354A32A

# 030. replace 메서드
아래 코드의 실행 결과 예상

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)

# 예상 답: 'aBcd'  (X)

# think: 문자열은 immutable!!!!!!!!!!! 벌써 두번째 틀림. -_-

abcd

# 031. 문자열 합치기
아래 코드의 실행 결과 예상

In [ ]:
a = "3"
b = "4"
print(a + b)
print(type(a+b))

# 예상 답: '3''4'    (X)

# think: 34

34
<class 'str'>

# 032. 문자열 곱하기
아래 코드의 실행 결과 예상

In [ ]:
print("Hi" * 3)

# 예상 답: HiHiHi (O)

HiHiHi

# 033.  문자열 곱하기
화면에 '-' 80개 출력

In [ ]:
print('-' * 80)

--------------------------------------------------------------------------------

# 034. 문자열 곱하기
변수에 문자열 더하기와 문자열 곱하기를 사용하여 다음과 같이 출력: 
python java python java python java python java

In [ ]:
t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

# 035. 문자열 출력
% formatting 을 사용하여 다음과 같이 출력: 
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 036. 문자열출력
format()메서드를 이용하여 035 풀기

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 037. 문자열출력
f-string을 이용하여 035 풀기

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

*   % formatting --
print("~ %s ~ %d ~" % (문자열, int))

*   format() --
print(" ~ {} ~ ".format())
※ format적용대상이 문자열인지 int인지 안따지고 {}로 표현

*   f-string --
f"~{변수}"

# 038. 컴마 제거하기
컴마를 제거한 후 정수타입으로 변환

In [ ]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',', '')))

# 숫자형태의 문자열에 컴마가 있는 경우 형변환 X
# --컴마 제거 후 변환!

5969782550

# 039. 문자열 슬라이싱
'2020/03'만 출력

In [ ]:
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

# 040. strip 메서드
문자열의 좌우 공백 제거

In [ ]:
data = "   삼성전자    "

print(data.strip())

삼성전자

# 041. upper 메서드
대문자로 변경

In [ ]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

# 042. lower 메서드
소문자로 변경

In [ ]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

# 043. capitalize 메서드
문자열 'hello'를 'Hello'로 변경

In [ ]:
str = 'hello'
print(str.capitalize())

Hello

# 044. endswith 메서드
문자열로 저장되어 있는 파일이름이 'xlsx'로 끝나는지 확인

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

# 045. endswith 메서드 
문자열로 저장되어 있는 파일이름이 'xlsx' 또는 'xls'로 끝나는지 확인

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx' or 'xls'))

True

# 046. startswith 메서드
문자열로 저장되어 있는 파일이름이 '2020'으로 시작하는지 확인

In [ ]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

# 047. split 메서드
공백을 기준으로 문자열 나누기

In [ ]:
a = "hello world"
print(a.split())

['hello', 'world']

# 048. split 메서드
btc와 krw로 나누기

In [ ]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

# 049. split 메서드
연도, 월, 일로 나누기

In [ ]:
date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

# 050. rstrip 메서드
문자열 오른쪽 공백 제거

In [ ]:
data = "039490      "
print(data.rstrip())

039490

# **4. 파이썬 리스트**

# 051. 리스트 생성
영화제목 movie_rank이름의 리스트에 저장하기

![051.PNG]()

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

# 052. 리스트에 원소 추가
movie_rank 리스트에 "베트맨" 추가

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

# 053. 리스트 수정 1
movie_rank 리스트에 "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

※ 리스트 특정위치에 값 끼워넣기: .insert(인덱스, 추가할 원소)

# 054. 리스트 수정 2
movie_rank 리스트에서 "럭키" 삭제

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

※ 리스트 원소 삭제: del 리스트[인덱스]

# 055. 리스트 수정 3
movie_rank 리스트에서 '스플릿'과 '배트맨' 삭제

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2][3]
movie_rank

TypeError: ignored

In [ ]:
§ 정답
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

※ del을 이용하여 리스트 원소 삭제할 때:

리스트에서 어떤 원소를 삭제하면 **남은 값들은 새로 인덱싱**되므로

**여러 원소들이 삭제할 때**에는

**어떤 원소가 먼저 삭제된 후 남은 원소들에 대해 순서를 새로 고려한 후 삭제**

# 056.
리스트 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들기

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

# 057.
min(), max() 함수를 사용하여 최댓값과 최솟값을 출력

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('최솟값:', min(nums))
print('최댓값:', max(nums))

최솟값: 1
최댓값: 7

# 058.
리스트의 합 구하기

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

# 059. 
리스트에 저장된 데이터의 개수 출력하기

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

# 060.
리스트의 평균 구하기

In [ ]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

# 061. 
날짜 정보 제외, 가격 정보 출력

In [2]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

#062. 
슬라이싱 이용, 홀수만 출력

In [6]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

#063. 
슬라이싱 이용, 짝수만 출력

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

#064. 
슬라이싱 이용, 리스트의 숫자를 역방향으로 출력

In [9]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

# 065. 
interest 리스트 사용, 다음과 같이 출력: 

출력 예시:

삼성전자 Naver

In [14]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

# 066. join 메서드
interest 리스트 사용, 다음과 같이 출력: 

출력 예시:

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [15]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [17]:
# think: 
print(" " .join(interest),  type(" ".join(interest)))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우 <class 'str'>

※ "".join(리스트명): 리스트에 "특정 구분자"를 추가하여 문자열로 변환

#067. join 메서드
interest 리스트 사용, 다음과 같이 출력: 

출력 예시:

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [23]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

#068. join 메서드
interest 리스트 사용, 다음과 같이 출력:

출력 예시:

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

In [24]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

#069. split 메서드
interest 이름의 리스트로 분리 저장

In [28]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

※ .split() 결과는 리스트!

#070. 리스트 정렬
오름차순으로 정렬

In [30]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [31]:
# think more
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

※ .sort() 의 기본정렬방식은 오름차순!

#**05. 파이썬 튜플**
순서 O, 수정 X

#071.
my_variable이름의 비어있는 튜플 만들기