# 001~010

In [ ]:
print('Hello World')
print("Mary's cosmetics")
print('신씨가 소리질렀다. "도둑이야".')
print('"C:\Windows"')
# \t: 탭간격 띄우기, \n: 행 띄우기
# 오늘은 일요일
print('naver;kakao;sk;samsung')  # --> print('naver', 'kakao', 'sk', 'samsung', sep=';') // sep 인자: sep=' ' -출력되는 값들 사이에 한 칸의 공백대신 sep 인자 출력
print('naver', 'kakao', 'sk', 'samsung', sep='/')
print("first", end=' '); print("second")
print(5/3); print(5//3); print(5%3)

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
"C:\Windows"
naver;kakao;sk;samsung
naver/kakao/sk/samsung
first second
1.6666666666666667
1
2

# 011~020

In [ ]:
#11 
삼성전자 = 50000; print(삼성전자 * 10)   # --변수 ≠ 문자열
#12
시가총액 = '298조'; 현재가 = '50000원'; PER = 15.79
#13
s = 'hello'
t = 'python'
print(s+'!',t)
#14
8
#15
a = '132'
type(a)              # -- str
print(type(a))       # -- <class 'str'>
#16
num_str = '720'
int(num_str)
#17
num = 100
str(num)
#18
a = "15.79"
b = float(a)
print(b)
#19
year = "2020"
year_int = int(year)
print(year_int - 1, year_int - 2, year_int - 3)
#20
a = 48584 * 36
print(a)

500000
hello! python
<class 'str'>
15.79
2019 2018 2017
1749024

# 021~030

In [ ]:
#21: 문자열 인덱싱
letters = 'python'
#letters[0][2]            # --2D list (밑 참고)
print(letters[0], end=' '); print(letters[2])

# 참고: 2D Array 
# letters = [1, 2, [3, 4, 5]]
# letters[2][0]     #letters의 3번째 item의 1번째 item: 3

# 파이썬 문자열에서 <한 글자>를 가져오는 것을 인덱싱이라고 부릅니다. 파이썬 인덱싱은 0부터 시작합니다.

#22: 문자열 슬라이싱
license_plate = "42가 2210"
print(license_plate[4:])

# 문자열에서 <여러 글자>를 가져오는 것을 슬라이싱이라고 부릅니다.

#23:문자열 인덱싱 2
string = "홀짝홀짝홀짝"
print(string[::2])
# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

#24: 문자열 슬라이싱 2
string = "PYTHON"
print(string[::-1])

#25: 문자열 치환
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

p t
2210
홀홀홀
NOHTYP
010 1111 2222

# 026. 문자열 다루기 
25번 문제의 전화번호를 모두 붙여 출력

In [1]:
phone_number = "010-111-2222"
print(phone_number.replace('-',''))

0101112222

# 027. 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인 출력

In [6]:
url = "http://sharebook.kr"
print(url[-2:])

# think: 
print('\n')
url_split = url.split('.')
print(url_split[-1])

kr


kr

※ .split()

*   괄호 안의 특정 값을 구분자로 문자열을 나눔.
*   괄호 안이 비었을 경우 공백을 기준으로 문자열 나눔. 
*   나눈 문자열은 리스트로.

# 028. 문자열은 immutable
아래 코드의 실행 결과 예상

In [7]:
lang = 'python'
lang[0] = 'P'
print(lang)

# 예상 답: 'Python'  (X)
# think: 문자열은 immutable!!!!!

TypeError: ignored

# 029. replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경

In [11]:
string = 'abcdfe2a354a32a'
# print(string.upper('a'))

# think:
print(string.replace('a', 'A'))

# think more: 
# 1. 첫글자만 대문자로 변환하기: .capitalize()
# 2. 모든 문자 대문자로 변환하기: .upper()

Abcdfe2A354A32A

# 030. replace 메서드
아래 코드의 실행 결과 예상

In [12]:
string = 'abcd'
string.replace('b', 'B')
print(string)

# 예상 답: 'aBcd'  (X)

# think: 문자열은 immutable!!!!!!!!!!! 벌써 두번째 틀림. -_-

abcd

# 031. 문자열 합치기
아래 코드의 실행 결과 예상

In [14]:
a = "3"
b = "4"
print(a + b)
print(type(a+b))

# 예상 답: '3''4'    (X)

# think: 34

34
<class 'str'>

# 032. 문자열 곱하기
아래 코드의 실행 결과 예상

In [15]:
print("Hi" * 3)

# 예상 답: HiHiHi (O)

HiHiHi

# 033.  문자열 곱하기
화면에 '-' 80개 출력

In [16]:
print('-' * 80)

--------------------------------------------------------------------------------

# 034. 문자열 곱하기
변수에 문자열 더하기와 문자열 곱하기를 사용하여 다음과 같이 출력: 
python java python java python java python java

In [18]:
t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

# 035. 문자열 출력
% formatting 을 사용하여 다음과 같이 출력: 
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [21]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 036. 문자열출력
format()메서드를 이용하여 035 풀기

In [24]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 037. 문자열출력
f-string을 이용하여 035 풀기

In [25]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

*   % formatting --
print("~ %s ~ %d ~" % (문자열, int))

*   format() --
print(" ~ {} ~ ".format())
※ format적용대상이 문자열인지 int인지 안따지고 {}로 표현

*   f-string --
f"~{변수}"

# 038. 컴마 제거하기
컴마를 제거한 후 정수타입으로 변환

In [26]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',', '')))

# 숫자형태의 문자열에 컴마가 있는 경우 형변환 X
# --컴마 제거 후 변환!

5969782550

# 039. 문자열 슬라이싱
'2020/03'만 출력

In [27]:
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

# 040. strip 메서드
문자열의 좌우 공백 제거

In [28]:
data = "   삼성전자    "

print(data.strip())

삼성전자